*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #030303;
    font-family: monospace, sans-serif;
    font-size: 10px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos*/

@media (min-width: 400px){
    body{
        font-size: 14px;
    }    
}

header{
    background-image: url(../imagens/aac871552c4b14d4520882c651399ce42aaad9c0_hq.gif);
    height: 100vh;
    background-position:  center;
    background-size: cover;
}

.menu{
    background-color: black;
    padding: 10px;
    text-align: right; 
}

.menu li{
    list-style: none;
    padding: 30px;
    text-transform: uppercase;
    display: inline;
    text-shadow: 1px 4px 9px #f5f5f5;
}

.menu a{
    color: white;
    text-decoration: none;
    transition: 2s;
}

.menu a:hover{
    color: aqua;
    text-decoration: underline; 
}

/*

.titulo{
    transform: scale(0.2) translateY(50vh);
    animation: linear 2s  animationTitulo ;
    opacity: 0;
}

@keyframes animationTitulo{
    100%{
        transform: scale(1) translateY(0);
        opacity: 1;   
    }
}
*/


.name{
    color: white;
    font-size: 30px;
    margin-top: 180px;
    margin-left: 100px;
    text-shadow: 5px 5px 7px #b9b8b8;
}

.name-obj{
    color: white;
    margin-left: 150px;
}

.portfolio{
    background-color: aqua;
    width: auto;
    height: auto;
    padding: 2em;
    text-align: center;
 }

.port-title{
    font-size: 2em;
    padding: 10px;
}


figure{
    display: inline-block;
}

.port-igm{
    height: 180px;
    width: 240px;
    object-fit:cover;
    object-position: bottom;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid blue;
    transition: transform 500;
}

.port-igm:hover{
    transform: scale(1.1);   
}

.icones{
    text-align: center;
    margin: 0 ;
}

.icones a{
    display: inline-block;
    font-size: 2em;
    padding: 10px;
    transition: 2s;
}

.icones a:hover{
    color: aqua;
    text-decoration: none;
    text-shadow: 2px 2px 4px aqua;
    transform: scale(1.1);     
}

.contato{
    color: white;
}

.icon-link{
    color: white;
}