*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #030303;
    font-family: monospace, sans-serif;
    font-size: 10px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos*/

@media (min-width: 400px){
    body{
        font-size: 14px;
    }    
}

header{
    background-image: url(../imagens/aac871552c4b14d4520882c651399ce42aaad9c0_hq.gif);
    height: 100vh;
    background-position:  center;
    background-size: cover;
}

.menu{
    background-color: black;
    padding: 10px;
    text-align: right; 
}

.menu li{
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
    display: inline;
    text-shadow: 5px 5px 7px #f5f5f5; 
    color: white;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu a:hover{
    color: #ccc;
    text-decoration: underline; 
}

.name{
    color: white;
    font-size: 30px;
    margin-top: 180px;
    margin-left: 100px;
    text-shadow: 5px 5px 7px #b9b8b8;
}

.name-obj{
    color: white;
    margin-left: 150px;
}

.portifolio{
    background-color: aqua;
    width: auto;
    height: auto;
    padding: 2em;
    text-align: center;
 }

.port-title{
    font-size: 2em;
    padding: 10px;
}
/*
.grid{
    display: grid;
    gap: 2em;
}

@media (min-width: 560px){
    .portifolio, .grid{
        grid-template-columns: 240px 240px;
    }    
}

@media (min-width: 800){
    .portifolio, .grid{
        grid-template-columns: repeat(3, 240px);
    }    
}
 */
figure{
    display: inline-block;
}
.portifolio img{
    height: 180px;
    width: 240px;
    object-fit:cover;
    object-position: bottom;
    border-radius: 10px;
    position: ;
    box-sizing: border-box;
    cursor: pointer;
}


.icones{
    text-align: center;
    margin-top: 10px;
}

.icones li{
    display: inline-block;
    font-size: 25px;;
    color: #4455;
    padding: 10px;
    
}

.icon-link{
    color: white;
}