*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #030303;
    font-family: monospace, sans-serif;
    font-size: 10px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos*/


@media (min-width: 200px){
    body{
        font-size: 17px;
    }


@media (min-width: 250px){
    body{
        font-size: 16px;
    }
}

@media (min-width: 300px){
    body{
        font-size: 15px;
    }
}

@media (min-width: 400px){
    body{
        font-size: 14px;
    }    
}

header{
    background-image: url(../imagens/coffe.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.menu{
    padding: 10px;
    text-align: right; 
    background-color: black;
    
}
    

.menu li{
    list-style: none;
    margin: 35px;
    text-transform: uppercase;
    display: inline;
    text-shadow: 1px 4px 9px #f5f5f5;
}

.menu a{
    color: white;
    text-decoration: none;
    transition: 2s;
}

.menu a:hover{
    color: aqua;
    text-decoration: underline; 
}

.name-obj{
    transform: scale(0.2) translateX(50vg);
    animation: ease-in 5s  animationTitulo infinite;
    opacity: 0;
}

@keyframes animationTitulo{
    100%{
        transform: scale(1) translateY(0);
        opacity: 1;   
    }
}


.titulo{
    margin-top: 20px;
    padding: 100px;
    color: white;
}
.name{
    font-size: 30px;
    text-shadow: 5px 5px 7px #b9b8b8;
}

.name-obj{
    margin-left: 36px;
}

@media(min-width: 1200px){
        .container{
        max-height: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}


.sobre {
    padding: 2em;
    background-color: #d9d9d9;
    height: 50%;
    overflow: auto;
    margin-bottom: 10px;
    background-size: cover;
}

.avatar{
    float: right;
}

.avatar img{
    width: 240px;
    height: 180px;
    object-position: bottom;
    border-radius: 50%;
    background-size: cover;
    margin-left: 2em;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    margin: auto;
}
    
@media(max-width: 300px){
    .avatar img{
        width: 200px ;
        height: 150px;
  
    }
}    
@media(max-width: 290px){
    .avatar img{
        width: 200px ;
        height: 150px;
  
    }
}

.sobre p{
    margin-bottom: 0.4em;
    font-size: 2em;
    font-family: monospace;
    color: white;
    margin-left: 10px;
    font-family: vt323;
}

.sobre a{
    color: #e28e8e;
}

.sobre a:hover{
    text-transform: uppercase;
}

.conteudo-sobre{
    background-color: rgba(0, 0, 26, 255 );
    opacity: 0.5;
    margin: auto;
    padding: 35px;
}

.projetos{
    background-color: #d9d9d9;
    width: auto;
    height: auto;
    padding: 2em;
    text-align: center;
 }

.port-title{
    font-size: 2em;
    padding: 10px;
}

figure{
    display: inline-block;
}


.port-img{
    height: 180px;
    width: 240px;
    object-fit:cover;
    object-position: bottom;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #5c5858;
    transition: transform 500;
}

.port-img:hover{
    transform: scale(1.1);   
}

figcaption:hover{
    text-transform: uppercase;
}

.icones{
    text-align: center;
    margin: 0 ;
}

.icon-link{
    display: inline-block;
    font-size: 2em;
    padding: 10px;
    transition: 2s;
    color: white;
}

.icones a:hover{
    color: aqua;
    text-decoration: none;
    text-shadow: 2px 2px 4px aqua;
    transform: scale(1.4); 
}

.contato{
    color: white;
    padding-top: 10px;
    font-size: 1.7em;
    transition: 0.1s;
}

.contato:hover{
    text-transform: uppercase;
    text-decoration: underline;
}